@model ShoppingCartViewModel


@if (!Model.Items?.Any() ?? true)
{

    <div class="w-100 h-100 d-flex justify-content-center align-items-center ">
        <p>Your Shopping Cart Is Empty.</p>
    </div>

}else
{
<main class="row">
    <div class="col-md-8">
            @foreach (var item in Model.Items)
            {
                    <div class="card mb-3">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="@item.Product.ImageUrl" class="w-100">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h4 class="card-title">@item.Product.Title</h4>
                                    <p class="card-text">Available Orderd: <strong>@item.Product.AmountAvailable</strong></p>
                                    <p class="card-text">Unit Price: <strong>@Html.DisplayFor(p => item.Product.Price)</strong></p>
                                    <p class="card-text">Amount Orderd: <strong>@item.Amount</strong></p>
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-end w-100 mb-2">
                            <form asp-controller="Cart" asp-action="Delete">
                                <input type="hidden" name="productId" value="@item.Product.Id" />
                                <button class="btn btn-danger text-light">Remove <i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </div>

             }

            </div>
            <div class="col-md-4">
                <p>Total Price: <strong> @Html.DisplayFor(sh => sh.TotalPrice) </strong></p>
            </div>
        </main>
}
