@model ProductViewModel


<div class="card mb-3 border-primary h-100">
    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-light p-0 mb-4">
        <div class="card-header text-center">
                <p class="card-text">@Model.Title</p>
        </div>
        <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
    </a>
    
    
    <div class="card-body">

        @if (ViewBag.isShowingDetails ?? false)
        {
            <div class="mb-5"><p class="card-text"><strong> @Model.Description </strong></p></div>
        }

        <div><p><strong>Owner</strong> <span class="badge badge-success">@Model.Owner.FirstName</span></p></div>
        <div><p><strong>Amount:</strong> @Model.AmountAvailable</p></div>
        <div>
            <p>
                <strong>Category:</strong> 
                <a asp-controller="Category" asp-action="Products" asp-route-categoryId="@Model.CategoryId">@Model.Category.CategoryName</a>
            </p>
        </div>
    </div>

    <div class="card-footer">
        <div class="card-navigation d-flex justify-content-between">
            <div class="d-flex justify-content-center align-items-center text-danger">
                <strong>@Html.DisplayFor(Model => Model.Price)</strong>
            </div>
            @if (Model.AmountAvailable == 0)
            {
                <p class="card-text">Sold out</p>
            }else if (!Model.InCart)
            {
                <form asp-controller="Cart" asp-action="Add" class="d-flex justify-content-end ">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary btn-sm mr-1">Add To Cart <i class="fas fa-cart-plus"></i></button>
                    <input class="form-control-sm w-25" type="number" name="amount" value="1" min="1" max="@Model.AmountAvailable" />
                </form>            
            }else if (Model.InCart)
            {
                <p class="card-text">Already In <a asp-controller="Cart" asp-action="Index">Cart</a></p>
            }

        </div>
    </div>
</div>